# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
compiled
dist
docs/api
out-ngc
tmp

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings
.firebaserc
firebase.json
firebase-debug.log

# e2e
e2e/*.js
e2e/*.map

# system files
.DS_Store
Desktop.ini
Thumbs.db
