# Development
src
compiled
out-ngc
docs

# Config
.angular-cli.json
.editorconfig
.gitignore
tslint.json
typedoc.json

# Node
node_modules
npm-debug.log

# IDE & OS
.idea
.project
.settings
.idea/*
*.iml
*.swp
Thumbs.db
Desktop.ini
.DS_Store
