# Development
compiled
docs
dist/playground
src/playground

# TypeScript
tsconfig.json
tslint.json
typedoc.json
typings.json
*.ts
!*.d.ts

# Node
node_modules
npm-debug.log

# IDE
.idea
.project
.settings
.idea/*
*.iml
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store
